@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trash Collection Service</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <img style= "width :100%" src="http://previews.123rf.com/images/intararit/intararit1401/intararit140100076/25472744-Garbage-and-trash-collection-with-white-background--Stock-Vector.jpg" />
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>